#app{
    font-family: "Montserrat", sans-serif;
}

.router-link-exact-active{
    font-weight: bold;
}

.btn-success{
    background-color: #4eb883;
}

.badge-success{
    background-color: #4eb883;
}

.card{
    border-radius: 15px;
}

.card-img-top{
    border-radius: 15px;
}

.breadcrumb {
    background-color: transparent;
    padding: 0;
}

.breadcrumb-item.active {
    font-weight: bold;
    color: black;
}

.img-fluid {
    border-radius: 15px;
}